  body {
    font-family: sans-serif;
    text-align: center;
    color: #939393;
  }
  
  * {
    box-sizing: border-box;
  }

  h1{
    text-align: center;
  }
  
  .wrap {
    width: 250px;
  }
  
  form {
    width: 200px;
    margin: 0 auto;
  }
  
  .text-box {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
  }

  .text-box:focus {
    outline: 0;
    box-shadow: 0 0 4px #39f;
  }
